<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420268722966-22p0oom4sdrnlkk70lcuulatt2u83sfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420268722966-22p0oom4sdrnlkk70lcuulatt2u83sfc</string>
	<key>API_KEY</key>
	<string>AIzaSyDgT0fo3Z3u3UJ_nhspu_4yaQPds1YEZEM</string>
	<key>GCM_SENDER_ID</key>
	<string>420268722966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackathon</string>
	<key>PROJECT_ID</key>
	<string>hackathon-111</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon-111.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420268722966:ios:82a4b628deb3b73ca91e37</string>
	<key>DATABASE_URL</key>
	<string>https://hackathon-111-default-rtdb.firebaseio.com</string>
</dict>
</plist>